.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.mat-card {
  background-color: white;
  color: black;
  margin-right: 10px;
  .title {
    font-size: 20px;
  }
}
.button {
  margin-right: 5px;
  font-size: 12px;
}
.image {
  max-width: 300px;
}
